<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Product Details</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Product Image Section -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Assuming product_object.image is a valid URL -->
                        <img src="{{ product_object.image }}" alt="Product Image" class="img-fluid">
                    </div>
                </div>
            </div>
            <!-- Product Information Section -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ product_object.title }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Price: </strong>{{ product_object.price }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Discounted Price: </strong>{{ product_object.discount_price }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Description: </strong>{{ product_object.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
